/* auth.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}

.Top {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom right, #3498db, #2980b9); /* Updated Blue Gradient */
}

.heading {
  background: linear-gradient(to bottom right, #3498db, #2980b9); /* Updated Blue Gradient */
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 4px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #3498db, #2980b9); /* Updated Blue Gradient */
}

section {
  background-color: #3498db;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 4px;
  background: linear-gradient(to bottom right, #3498db, #2980b9); /* Updated Blue Gradient */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
  color: #fff;
}

input {
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button {
  background-color: #3498db; /* Updated Button Color */
  color: white;
  padding: 10px;
  border: 1px solid #2980b9; /* Border Color */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

button:hover {
  background-color: #2980b9; /* Hover Color */
  border-color: #3498db; /* Hover Border Color */
  color: #fff; /* Hover Text Color */
}

p {
  text-align: center;
  font-size: 14px;
  color: #fff;
}

.link {
  color: #3498db; /* Link Color */
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  text-decoration: underline;
}

.signup-heading {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
